.c7n-app-select_512 {
  width: 512px;
  margin-bottom: 16px;
}

.c7n-merge-branches {
  i {
    vertical-align: baseline;
    margin-right: 5px;
  }

  .c7n-merge-right {
    transform: rotate(180deg);
    vertical-align: sub;
    margin: 0 5px;
  }
}

.c7n-merge-avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}

.c7n-merge-time {
  vertical-align: middle;
}
