.c7n-container-wrapper {
  .c7n-container-col-inside {
    margin-bottom: 6px;
  }

  .c7n-container-square {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    padding: 1px;
    margin-right: 8px;
    display: inline-block;
    width: 25px;
    text-align: center;

    div {
      transform: scale(0.8);
    }
  }

  .c7n-container-circle {
    background: rgb(255, 177, 0);
    height: 16px;
    width: 16px;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    padding: 1px;
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 8px;
    display: inline-block;
  }

  .c7n-container-title {
    padding-left: 8px;
    vertical-align: middle;
  }

  .c7n-container-table {
    padding-left: 15%;

    span {
      font-size: 18px;
    }
  }

  .display-none {
    display: none;
  }

  .table-pagination {
    margin-top: 10px;
    float: right;
    display: block;
  }
}

.c7n-podLog-content {
  width: 100%;
}

.c7n-podLog-icon {
  padding-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}

.c7n-podLog-column {
  padding-right: 100px;
}

.c7n-podLog-column-text {
  padding-left: 28px;
}

.c7n-podLog-section {
  margin: 32px 0;
}

.c7n-podLog-text {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 20px;
}

.c7n-podLog-text-hasPadding {
  padding-left: 28px;
}

.c7n-podLog-title {
  font-size: 14px;
  color: #000;
  vertical-align: middle;
}

.c7n-podLog-icon-status {
  font-size: 19px;
  margin-right: 8px;
  margin-left: 1px;
}

.c7n-podLog-table {
  margin-top: 32px;
}

.c7n-deploy-text_gray {
  color: rgba(0, 0, 0, 0.36);
}
