.c7n-content-card-wrap {
  display: block;
  height: 85%;
  margin-bottom: 0;
}

.c7n-content-card-content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c7n-content-card {
  height: 100%;

  .c7n-content {
    &.c7n-content-padded {
      display: block;
      padding: 2 * 8px;
    }
  }
}

.c7n-content-card-content-title {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  height: 36px;
  line-height: 28px;
  margin: 0;

  .c7n-podShell-title {
    padding: 5px;
    box-sizing: border-box;
    height: 36px;
    line-height: 26px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    display: flex;

    .ant-select {
      line-height: 22px;
    }
  }

  .ant-select-selection-selected-value, .ant-select-arrow > i {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  .ant-select-underline {
    display: none;
  }

  .c7n-title {
    font-weight: 400;

    a {
      color: rgba(0, 0, 0, .87);
    }
  }
}

.c7n-content-card-content-footer {
  border-top: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  margin: 0;
}

.c7n-shell-term {
  width: 100%;

  iframe {
    position: relative !important;
  }
}

// The style below is to make the shell view card full width & height.
.c7n-content-card-wrap {
  .c7n-shell-content-card {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 2.5 * 8px;

    .c7n-content-card {
      height: 100%;
    }
  }
}

.c7n-content-card-transclude-content {
  display: flex;
  flex: 1;

}
.c7n-content {
  display: flex;
  flex: 1;
}

.c7n-padding {
  padding: 5px;
}

.c7n-md-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .005em;
}

.c7n-shell-toolbar-select {
  display: inline-flex;
  margin: 0;

  .md-select-value {
    font-size: 14px;
    min-width: 20 * 8px;
  }

  &:not([disabled]) {
    &:focus {
      .md-select-value {
        color: rgba(0, 0, 0, .87);
      }
    }
  }
}

.c7n-shell-title {
  line-height: 30px;
  display: flex;

  .ant-select {
    line-height: 26px;
  }
}
