.c7n-network-create {
  .c7n-domain-icon-delete {
    position: absolute;
    bottom: 20px;
  }

  .c7n-domain-icon-delete-disabled {
    color: rgba(0, 0, 0, 0.54);
  }

  .c7n-domain-btn {
    background: white !important;
    padding-left: 0;
  }

  .c7n-domain-btn-wrapper {
    margin-bottom: 38px;
  }

  .c7n-create-network-formitem {
    width: 512px;
  }

  .c7n-create-network-test {
    width: 512px;
    display: inline-block;
  }

  .c7n-create-network-formitem-network {
    width: 300px;
    display: block;
  }

  .c7n-app-icon-disabled {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    width: 32px;
    display: inline-block;
    padding: 22px 0 0 3px;
    position: absolute;
    bottom: 29px;
  }
}

.c7n-network-env {
  .status-success {
    padding-right: 15px;
  }

  .status-error {
    padding-right: 2px;
    color: #d50000;
    vertical-align: middle;
  }
}

.status-success-instance {
  color: #1bc123;
}

.status-error-instance {
  color: #f44336;
}

.status-instance {
  vertical-align: middle;
  font-size: 16px;
  padding-right: 3px;
}

.c7n-network-square {
  background-color: rgba(0, 0, 0, 0.08);
  display: inline-block;
  border-radius: 100px;
  padding: 0 12px;
  margin: 0 5px;
  line-height: 20px;
  text-align: center;
  // border-radius: 2px;
  font-size: 10px;
  // width: 115px;
}

.c7n-create-network-test .ant-select-tags .ant-select-selection--multiple .ant-select-selection__choice {
  // background-color: rgba(0, 0, 0, 0.08) !important;
  // color: #0f0f0f;
}

.env-status-success {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
  background-color: #00bf96;
  margin-right: 5px;
}

.env-status-error {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
  background-color: #d50000;
  margin-right: 5px;
}

.instance-status-disable {
  line-height: 20px;
  background-color: #d50000!important
}
