/* stylelint-disable no-descending-specificity */
$WIDTH512: 512px;

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  zoom: 1;
}

.c7n-page-height {
  height: calc(100%);
}

.c7n-none-des {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 24px;
}

.c7n-space-first {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
  line-height: 28px;
  margin-bottom: 8px;
  max-width: 512px;
  text-rendering: auto;
  word-wrap: break-word;
}

.c7n-space-first+p {
  max-width: 512px;
  color: #000;
  font-size: 13px;
  letter-spacing: .01em;
  line-height: 20px;
  margin-bottom: 24px;
}

.c7n-text-title-1-subtle {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.c7n-text-title-2 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-text-title-3 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-text-title-4 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-text-title-5,
.c7n-text-body-large {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 56px;
  }
}

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 48px;
  }
}

table {
  font-size: 13px;
}

.c7n-input-readOnly .ant-input {
  color: rgba(0, 0, 0, 0.26);
}

.c7n-input-readOnly+.ant-input-border-wrapper {
  .ant-input-border {
    height: 0;
    background: none;
    border: 1px dashed rgba(0, 0, 0, 0.16);
  }

  .ant-input-border-active {
    display: none;
  }
}

//form

.c7n-formItem_180 {
  width: 180px;
  margin-right: 20px !important;
  display: inline-block;
}

.c7n-formItem_312 {
  width: 312px;
  // margin-right: 20px;
  display: inline-block;
}

//form
.c7n-sidebar-form {
  width: 512px;
}

// 选择器宽度
.c7n-select {
  &_512 {
    width: $WIDTH512;
  }

  &_480 {
    width: $WIDTH512 - 32px;
  }

  &_160 {
    width: ($WIDTH512 - 32px) /3;
  }
}

// 环境、实例连接状态
.c7ncd-status {
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  &-success {
    background-color: #00bf96;
  }

  &-error {
    background-color: #d50000;
  }

  &-disconnect {
    background-color: #ff9915;
  }

  &-update {
    background-color: #4d90fe;
    margin: 0;
    flex-shrink: 0;
  }
}

/* 修改UI组件默认样式 */
.is-required {
  .ant-select-disabled {
    .ant-select-selection-label {
      &:after {
        color: rgba(0, 0, 0, .36);
      }
    }
  }

  .ant-input-disabled {
    .ant-input-label {
      &::after {
        color: rgba(0, 0, 0, .36);
      }
    }
  }
}

.c7n-creation-radio {
  position: relative;
  padding-left: 73px;

  .creation-radio-label {
    &_disabled {
      color: rgba(0, 0, 0, .36);
    }

    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    line-height: 20px;
    color: #000;
  }

  .creation-radio-form {
    margin-bottom: 8px;
  }
}

// 创建侧边栏的单选
.c7n-creation-title {
  display: flex;
  margin-bottom: 10px;

  i {
    line-height: 24px;
    font-size: 16px;
    padding-right: 5px;
  }

  &_disabled {
    color: rgba(0, 0, 0, .36);
  }

  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .c7n-tooltip-icon {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.36);
    margin-left: 2px;
  }
}

.c7n-domain-create-status {
  display: inline-block;
  height: 16px;
  font-size: 12px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 16px;
  margin-right: 8px;

  div {
    transform: scale(0.83333);
    white-space: nowrap;
  }

  &_running {
    background: #00bf96;
  }

  &_failed {
    background: #f44336;
  }

  &_operating {
    background: #4d90fe;
  }

  &_deleted {
    background: rgba(0, 0, 0, 0.36);
  }
}

// 创建侧边栏中的卡片区域
.c7n-creation-panel {
  margin-bottom: 32px;
  padding: 16px;
  width: 512px;
  min-height: 150px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  .creation-panel-button {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .creation-form-name {
    margin-bottom: 0;
  }

  .creation-form-item {
    margin-bottom: 12px;
  }

  .creation-panel-group {
    display: flex;
    justify-content: space-between;

    .c7n-select_454 {
      width: 454px;
    }
  }

  // 多组的删除图标
  .creation-panel-icon {
    position: relative;
    top: 18px;
    width: 18px;
    height: 18px;
    font-size: 18px;

    &.icon-delete {
      cursor: pointer;
    }
  }
}

// 覆盖禁用输入的底边样式
.ant-input-disabled,
.ant-select-disabled {

  .ant-select-underline,
  .ant-input-underline {
    border-bottom-style: dashed;
  }
}

// 隐藏Safari自动填充的小图标
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.c7n-divide-point {
  padding: 8px;
  vertical-align: middle;
}

.c7ncd-link-icon {
  font-size: 13px;
}

.c7n-ib-width_100 {
  width: 100%;
  display: inline-block;
}

.c7n-header-select {
  max-width: 105px;
  margin-right: 28px;
  font-weight: 500;

  .icon-arrow_drop_down {
    font-size: 18px;
  }

  .ant-select-selection__rendered {
    margin-bottom: 0;
    color: #3f51b5;
  }

  .ant-select-underline {
    display: none;
  }
}

.c7n-select_min100 {
  min-width: 100px;
}

.c7n-header-env_drop {
  width: 100px !important;

  .ant-select-dropdown-menu-item {
    padding: 4px 6px !important;
  }
}

.c7n-header-select_drop {
  width: 200px !important;
  top: 90px !important;
}

.c7n-notice-wrap_error {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), inset 4px 0 0 0 #f44336;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  margin-bottom: 20px;

  i {
    color: #f44336;
    font-size: 20px;
    margin-right: 14px;
  }
}

.c7n-padding-top_8 {
  padding-top: 8px;
}
