/* stylelint-disable no-descending-specificity */
$WIDTH512: 512px;

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  zoom: 1;
}

.c7n-page-height {
  height: calc(100%);
}

.c7n-none-des {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 24px;
}

.c7n-region .c7n-scroll-content {
  padding: 16px 24px 0 24px;
}

.c7n-region section {
  margin-bottom: 0;
}

.c7n-region p + p {
  margin-top: 0;
}

.c7n-region .c7n-space-first {
  margin-top: 0 !important;
}

.c7n-region h1,
.c7n-region h2,
.c7n-region h3,
.c7n-region h4,
.c7n-region h5,
.c7n-region h6 {
  bottom: auto;
  position: static;
}

.c7n-region h1 {
  color: #000;
  //font-family: "roboto";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
}

.c7n-region h5,
.c7n-region h6 {
  text-transform: none;
}

.c7n-region {
  -webkit-touch-callout: default;
}

.c7n-region *,
.c7n-region *::before,
.c7n-region *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c7n-region article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.c7n-region b,
.c7n-region strong {
  font-weight: 500;
}

.c7n-region em {
  font-style: italic;
}

.c7n-region abbr {
  text-transform: none !important;
}

.c7n-region code,
.c7n-region pre {
  //font-family: "roboto mono";
}

.c7n-region p,
.c7n-region h1,
.c7n-region h2,
.c7n-region h3,
.c7n-region h4,
.c7n-region h5,
.c7n-region h6 {
  margin: 0;
  max-width: 512px;
  text-rendering: auto;
  word-wrap: break-word;
}

.c7n-region h2 {
  color: #000;
  //font-family: "roboto";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.c7n-region h3 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region h4 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region h5 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region h6 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region p {
  color: #000;
  //font-family: "roboto";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 24px;
}

.c7n-region :focus {
  outline: 0;
}

.c7n-region button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.c7n-region table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

//.c7n-region a,
.c7n-region a .c7n-external-link-content {
  color: #3f51b5 !important;
  cursor: pointer;
  text-decoration: underline;
}

.c7n-region a .c7n-external-link-content + span {
  font-size: 13px;
}

.c7n-region a.c7n-color-primary,
.c7n-region a.c7n-color-primary .c7n-external-link-content {
  border-color: rgba(0, 0, 0, 0.54);
  color: #000;
}

.c7n-region a.c7n-color-secondary,
.c7n-region a.c7n-color-secondary .c7n-external-link-content {
  border-color: rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.66);
}

.c7n-region a:hover,
.c7n-region a:hover .c7n-external-link-content {
  color: #3f51b5;
}

.c7n-region a:focus,
.c7n-region a:focus .c7n-external-link-content {
  color: #3f51b5 !important;
}

.c7n-region a:active,
.c7n-region a:active .c7n-external-link-content,
.c7n-region a:visited:active,
.c7n-region a:visited:active .c7n-external-link-content,
.c7n-region a.mat-tab-link {
  outline: 0;
}

.c7n-region a.c7n-external-link {
  border: 0;
}

.c7n-region a:focus.c7n-external-link {
  outline: 0;
}

.c7n-region .c7n-text-title-1-subtle {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.c7n-region .c7n-text-title-2 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region .c7n-text-title-3 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region .c7n-text-title-4 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region .c7n-text-title-5,
.c7n-region .c7n-text-body-large {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 56px;
  }
}

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 48px;
  }
}

table {
  font-size: 13px;
}

.c7n-input-readOnly .ant-input {
  color: rgba(0, 0, 0, 0.26);
}

.c7n-input-readOnly + .ant-input-border-wrapper {
  .ant-input-border {
    height: 0;
    background: none;
    border: 1px dashed rgba(0, 0, 0, 0.16);
  }

  .ant-input-border-active {
    display: none;
  }
}

//form

.c7n-formItem_180 {
  width: 180px;
  margin-right: 20px !important;
  display: inline-block;
}

.c7n-formItem_312 {
  width: 312px;
  // margin-right: 20px;
  display: inline-block;
}

.c7n-text-ellipsis {
  text-overflow: ellipsis;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

//form
.c7n-sidebar-form {
  width: 512px;
}

// 选择器宽度
.c7n-select {
  &_512 {
    width: $WIDTH512;
  }
  &_480 {
    width: $WIDTH512 - 32px;
  }
  &_160 {
    width: ($WIDTH512 - 32px) /3;
  }
}

// 环境连接状态
.c7n-ist-status_on,
.env-status-success {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
  background-color: #00bf96;
  margin-right: 5px;
}

.c7n-ist-status_off,
.env-status-error {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
  background-color: #d50000;
  margin-right: 5px;
}

.c7n-ist-status_update {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
  background: #ffb100;
  flex-shrink: 0;
}

/* 修改UI组件默认样式 */
.is-required {
  .ant-select-disabled {
    .ant-select-selection-label {
      &:after {
        color: rgba(0, 0, 0, .36);
      }
    }
  }
  .ant-input-disabled {
    .ant-input-label {
      &::after {
        color: rgba(0, 0, 0, .36);
      }
    }
  }
}

.c7n-creation-radio {
  position: relative;
  padding-left: 73px;
  .creation-radio-label {
    &_disabled {
      color: rgba(0, 0, 0, .36);
    }
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    line-height: 20px;
    color: #000;
  }
  .creation-radio-form {
    margin-bottom: 8px;
  }
}

// 创建侧边栏的单选
.c7n-creation-title {
  &_disabled {
    color: rgba(0, 0, 0, .36);
  }
  margin-bottom: 16px;
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 10px;
  }
}

// 创建侧边栏中的卡片区域
.c7n-creation-panel {
  margin-bottom: 32px;
  padding: 16px;
  width: 512px;
  min-height: 150px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  .creation-panel-button {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .creation-form-name {
    margin-bottom: 0;
  }

  .creation-form-item {
    margin-bottom: 12px;
  }

  .creation-panel-group {
    display: flex;
    justify-content: space-between;
    .c7n-select_454 {
      width: 454px;
    }
  }

  // 多组的删除图标
  .creation-panel-icon {
    position: relative;
    top: 18px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    &.icon-delete {
      cursor: pointer;
    }
  }
}

// 覆盖禁用输入的底边样式
.ant-input-disabled,
.ant-select-disabled {
  .ant-select-underline,
  .ant-input-underline {
    border-bottom-style: dashed;
  }
}

// 隐藏Safari自动填充的小图标
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.c7n-divide-point {
  padding: 8px;
  vertical-align: middle;
}

.c7ncd-link-icon {
  font-size: 13px;
}
