.c7n-depPi-empty-card {
  width: 412px;
  margin: 90px auto;

  .c7n-noEnv-content {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 20px;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    font-size: 13px;
  }

  .c7n-noPer-text {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .c7n-noApp-content {

    &:first-child {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
