.c7n-autoDeploy-wrapper {

  .c7n-autoDeploy-version-type {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 0 12px;
    margin-right: 6px;
    height: 20px;
    line-height: 20px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.c7n-autoDeploy-select {
  width: 247px;
  margin-right: 18px;
  margin-bottom: 20px;
}

.c7n-autodDeploy-record-deleted {
  color: #f44336;
}
