.c7n-pipeline-creat {
  .c7ncd-formitem-bottom {
    margin-bottom: 12px;
  }

  .c7ncd-pipeline-btn_cancel {
    margin-left: 12px;
  }

  .c7ncd-pipeline-main {
    margin-bottom: 32px;
    padding: 24px;
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
  }
}
