.c7n-deployDetail-wrapper {
  .c7n-deployDetail-title {
    margin-bottom: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.005em;
    line-height: 28px;
  }

  .c7n-deployDetail-tab {
    padding: 0 3px;
  }

  .c7n-deployDetail-card {
    margin-bottom: 20px;
    margin-top: 4px;
  }

  .c7n-deployDetail-card-content {
    padding: 16px 20px 20px 20px;
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;

    .ant-steps-item-title {
      cursor: pointer;

      .stage-title-text {
        font-weight: 500;
        vertical-align: middle;
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 24px;
      }
    }

    .stage-title-text-grey {
      color: rgba(0, 0, 0, 0.45) !important;
    }
  }

  .c7n-deployDetail-pre {
    background: black;
    color: white;
    padding: 10px;
  }

  .c7n-header-table {
    margin-left: -8px;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  .c7n-deployDetail-hidden {
    display: none;
  }

  .c7n-deployDetail-show {
    display: block;
  }

  .c7n-deployDetail-expand {
    display: inline-block;

    & span {
      color: #3f51b5;
      font-size: 18px;
    }
  }

  .c7n-h2-inline {
    display: inline-block;
  }

  .c7n-deployDetail-steps {
    margin-bottom: 20px;
  }

  .c7n-deployDetail-table-title {
    font-size: 16px;
    color: #000;
  }

  .header-first {
    margin-top: 24px;
  }

  .c7n-deployDetail-table-header {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .c7n-deployDetail-table {
    width: 100%;
    margin-top: 16px;

    & thead > tr {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
      text-align: left;
      line-height: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    }

    & tbody > tr {
      font-size: 13px;
      color: #000;
      text-align: left;
      line-height: 20px;
    }

    & tbody > tr td {
      padding: 10px 0;
    }
  }

  .stage-icon {
    padding-bottom: 22px;
    font-size: 30px;
    margin-bottom: 9px;
    margin-right: 10px;
  }

  .icon-success {
    color: #00bf96;
  }

  .icon-error {
    color: grey;
  }

  .c7n-stage-time {
    font-size: 10px !important;
    text-align: left !important;
    line-height: 16px !important;
  }

  .ace_gutter-cell.ace_error {
    background-image: none !important;
  }
}

.c7n-deployDetail-pre1 {
  .CodeMirror-selected {
    background-color: rgba(255, 255, 255, .25) !important;
  }
}
