.page-head {
  .ant-btn:not(.back-btn) {

    // 适配应用和模版界面
    &+.c7ncd-refresh {
      margin-left: 8px;
      margin-bottom: 0;
    }
  }
}

.ant-btn-group.ant-dropdown-button.c7ncd-refresh {
  margin-bottom: 0;
}

.c7ncd-refresh {
  .ant-dropdown-trigger {
    margin-left: 0 !important;
  }
}

.c7ncd-refresh-radioGroup {
  padding: 8px 0 5px 12px;

  .c7ncd-refresh-radio {
    display: block;
    height: 30px;
    line-height: 30px;
  }
}
