.c7n-feature-wrapper {
  .c7n-feature-content {
    width: 100%;
  }

  .c7n-feature-circle {
    position: absolute;
    border: 1px solid #9a9a9a;
    height: 31px;

    &::after {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #9a9a9a;
      position: absolute;
      top: 10px;
      left: -5px;
    }
  }

  .c7n-feature-title {
    padding-left: 27px;
  }

  .c7n-feature-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .c7n-feature-column {
    border: none !important;
  }

  //.c7n-feature-table tbody > tr > td:not(:first-child) {
  //  padding: 5px 16px;
  //}
  //
  //.c7n-feature-table tbody tr > td:first-child {
  //  padding: 0 !important;
  //}

  .c7n-feature-table {
    margin-bottom: 32px;

    tbody > tr > td {
      padding: 0 16px !important;
      height: 31px;
      line-height: 31px;
    }
  }

  .c7n-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
  }

  .mr7 {
    margin-right: 7px;
  }
}
