.Highlight-line {
  position: absolute;
  z-index: 20;
  background: #cdffd8;
}

.lineHeight-text {
  background-color: #acf2bd;
  position: absolute;
  z-index: 20;

  //&::before {
  //  content: '+  ';
  //}
}

.modifyHighlight-line {
  position: absolute;
  z-index: 20;
  background-color: rgba(188, 188, 247, 0.8);
}

.modifyHighlight-text {
  position: absolute;
  z-index: 20;
  background: #9c99ff;

  //&::before {
  //  content: '+  ';
  //}
}

.clearLineHeight-line {
  position: absolute;
  z-index: 20;
  background-color: #f9f9f9;
}

.clearLineHeight-text {
  position: absolute;
  background-color: #f9f9f9;

  //&::before {
  //  content: '+  ';
  //}
}

.ace_error {
  // background-image: none !important;
}

.ace-error {
  margin-bottom: 16px;

  .deployApp-config-block {
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
  }

  .deployApp-config-lastModify {
    background: #7bfe94;
  }

  .deployApp-config-modify {
    background: #a19eff;
  }

  .deployApp-config-error {
    padding-left: 19px;
    padding-right: 10px;
    height: 16px;
    background-image: url('./error.png');
    background-repeat: no-repeat;
    background-position: 2px center;
  }

  .deployApp-config-title {
    font-size: 13px;
    color: #000;
    padding-right: 86px;
  }
}

.ace-error-message {
  margin-top: 24px;

  .config-icon-error {
    color: #f44336;
    font-size: 13px;
    vertical-align: middle;
    padding-right: 5px;
  }

  .config-error-mes {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    line-height: 20px;
    vertical-align: middle;
  }

  .ace_gutter-cell {
    height: 16px !important;
  }
}

