.Highlight-line {
  position: absolute;
  z-index: 20;
  background: #cdffd8;
}

.lineHeight-text {
  background-color: #acf2bd;
  position: absolute;
  z-index: 20;

  //&::before {
  //  content: '+  ';
  //}
}

.modifyHighlight-line {
  position: absolute;
  z-index: 20;
  background-color: rgba(188, 188, 247, 0.8);
}

.modifyHighlight-text {
  position: absolute;
  z-index: 20;
  background: #9c99ff;

  //&::before {
  //  content: '+  ';
  //}
}

.ace_error {
  // background-image: none !important;
}
