/* stylelint-disable no-empty-source */
.c7ncd-db-panel-commit {
  height: 300px;
}

.c7ncd-dashboard-loading {
  left: 50%;
  position: absolute;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
