.c7n-createBranch {
  .c7n-title {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 14px;
    display: block;
    margin-bottom: 8px;
  }

  .ant-input-group-addon {
    padding: 0 !important;
    border: none !important;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.65) !important;
  }
}
