.app-release-wrapper {
  .c7n-app-release-square {
    background-color: rgba(0, 0, 0, 0.08);
    display: inline-block;
    border-radius: 100px;
    padding: 0 12px;
    margin: 0 5px;
    line-height: 20px;
    // border-radius: 2px;
    font-size: 10px;
    width: 115px;
  }
}
