.c7n-mutiDep-table {
  width: 100%;

  & tr {
    font-size: 13px;
    color: #000;
    line-height: 20px;
    display: flex;
  }

  .c7n-mutiDep-thead {
    background: rgba(0, 0, 0, 0.06);
    padding: 12px 0 12px 20px;
  }

  .c7n-mutiDep-thead > tr {
    height: 40px;
  }

  td {
    margin: 12px 0 2px 20px;
    border-top: none;
    vertical-align: top;
    width: 260px;
  }

  td:first-child {
    width: 142px;
  }

  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.03);
  }

  .c7n-mutiDep-icon {
    font-size: 18px;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-top: 4px;
  }
}

.c7n-multi-wrap {
  overflow-x: auto;
}
