.c7n-appRelease-wrapper {
  .version-wrapper {
    .version-tab {
      margin-bottom: 16px;

      button {
        font-size: 13px;
        color: #3f51b5;
        margin: 0 1px;
      }
    }

    .version-selection {
      margin-top: 33px;

      .version-selection-selected {
        width: 50%;
        display: inline-block;
      }

      p {
        font-size: 13px;
        color: #000;
        line-height: 20px;
        margin-bottom: 6px;
      }
    }
  }
}
